@using RequireJsNet

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - My ASP.NET Application</title>
	<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
	<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />

	@Html.RenderRequireJsSetup(new RequireRendererConfiguration
	{
		// the url from where require.js will be loaded
		RequireJsUrl = Url.Content("~/Scripts/Components/RequireJS/require.js"),
		// baseUrl to be passed to require.js, will be used when composing urls for scripts
		BaseUrl = Url.Content("~/Scripts/"),
		// a list of all the configuration files you want to load
		ConfigurationFiles = new[] { "~/RequireJS.json" },
		// root folder for your js controllers, will be used for composing paths to entrypoint
		EntryPointRoot = "~/Scripts/",
		// whether we should load overrides or not, used for autoBundles
		LoadOverrides = HttpContext.Current.IsDebuggingEnabled,
		// compute the value you want locale to have, used for i18n
		LocaleSelector = html => System.Threading.Thread.CurrentThread.CurrentUICulture.Name.Split('-')[0],
		// instance of IRequireJsLogger
		Logger = null,
		// extensability point for the config object
		ProcessConfig = config => { },
		// extensability point for the options object
		ProcessOptions = options => { }
	})

	@System.Web.Optimization.Scripts.Render("~/Scripts/App/AppStart.js")
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="brand" href="#">Project name</a>
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li class="active"><a href="#">Home</a></li>
						<li><a href="#about">About</a></li>
						<li><a href="#contact">Contact</a></li>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</div>
	</div>

	<div class="container body-content">
		@RenderBody()
		<hr />
		<footer>
			<p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
		</footer>
	</div>

	
</body>
</html>